@font-face{
    font-family: RalewayRegular;
    src: url('fonts/Raleway/Raleway-Regular.ttf');
}

@font-face{
    font-family: RalewayLight;
    src: url('fonts/Raleway/Raleway-Light.ttf');
}

.header{
    text-align: center;
    font-family: RalewayRegular;
    border-radius: 15px;
    padding: 16px;
    color : #36486b;
    background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.60);
	filter: Alpha(opacity=0.7);
    box-sizing: border-box;
}

/*Style Body*/
html{
    background-size:100vh 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #006699 0%, #006666 84%) no-repeat;
    background: -o-linear-gradient(to bottom, #006699 0%, #006666 84%) no-repeat;  
}

.search {
    padding:8px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}

input[type=search]{
    width: 20%;
    height: 7%;
    padding: 16px;
    box-sizing: border-box;
    z-index: -1;
    -moz-box-shadow: 0px 2px 4px rgba(1, 2, 3, .5);
    -webkit-box-shadow: 0px 2px 4px rgba(1, 2, 3, .5);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, .5);
    margin: 16px;
    font-family: RalewayLight;
    font-size: 20px;
    background-color: cornflowerblue;
    border: none;
    outline:none;
    border-radius: 40px;
    -webkit-transition: width 0.35s ease-in-out;
    color: white;
}

input[type=search]:hover{
    width:30%;
}

::placeholder{
    color:white;
    opacity: 0.7;
}

.container{
    position: relative;
    top: 10vh;
    width: 50% auto;
    text-align: center;
}
